# URL de la API
VITE_API_URL=https://api.versacode.com.co

# Datos del responsable (visibles en login)
VITE_APP_OWNER=Juan David Gaitan
VITE_APP_PHONE=+573045384661
VITE_APP_CONTACT=juandavid092415@hotmail.com
